:root{
  --padding-left-right: 10px;
  --dark-mode-font: #fff;
  --light-header-footer-clr: rgb(122, 122, 212);
  --dark-h-f-section-clr: rgb(25 25 51 / 80%);
  --light-font-clr: #191933;
}

/**************** Light Mode ****************/
.light_background h1, .light_backgroundd h2, .light_background h3, .light_background p, .light_background a{
  color: var(--light-font-clr);
}

/****************** Dark Mode ********************/
.dark_background h1, .dark_background h2, .dark_background h3, .dark_background p, .dark_background a{
  color: var(--dark-mode-font);
}

.dark_background{
  background-image: url(../images/IMG_20250516_214408.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.list section{
    background-color: var(--dark-h-f-section-clr);
}
.list section:nth-child(even) {
	background-color: rgb(29, 29, 73, 0.8);
}
.dark_background #container #join_button{
  background-color: var(--dark-h-f-section-clr);
}

.dark_background .event_grid section h2{
  background-color: var(--dark-h-f-section-clr);
}

.dark_background header{
  background-color: var(--dark-h-f-section-clr);
}

.dark_background .info_section section{
  background-color: var(--dark-h-f-section-clr);
}

.dark_background .levels dialog{
  h2{
    color: #000;
  }

  p{
    color: #000;
  }
}

.dark_background footer{
  background-color: var(--dark-h-f-section-clr);
}

/**************** Header ***********************/
h1, h2, h3, h4{
    font-family: 'Montserrat','Roboto', 'Open Sans';
}

p{
    font-family: 'Open Sans', sans-serif, verdana;
}

a{
    font-family: 'Open Sans', sans-serif, verdana;
}

table, .current_weather ul, .weather_forecast ul{
  font-family: 'Open Sans', sans-serif, verdan;
  
}

header{
  display: grid;
  grid-template: 1fr / minmax(44px, 65px) auto 1fr auto;
  justify-items: center;
  align-items: center;
  background-color: var(--light-header-footer-clr);
  overflow-y: hidden;
}

header h2{
  padding-left: var(--padding-left-right);
  margin: 0 auto;
}

.logo{
  width: 80%;
  height: auto;
  padding-left: var(--padding-left-right);
}

/****************** Navigation *****************/
#menu{
  display: none;
  cursor: pointer;
}

nav{
  justify-self: right;
  width: fit-content;
  padding-right: var(--padding-left-right);
}

.navigation{
  display: flex;
  list-style: none;
  margin: 0;
  align-items: center;
  padding: 0;
}

.navigation li{
  height: 100%;
}

.navigation li a{

  text-decoration: none;
  padding: 35px 15px;
  align-items: center;
  align-content: center;
}

.navigation li a.current{
  background-color: rgb(187, 187, 187, 0.5);
}

.navigation li a:hover{
  background-color: rgb(187, 187, 187, 0.5);
  transition: 0.5s;
}

.mode{
  margin: 0 var(--padding-left-right) 0 0;
}

.light_mode{
  display: block;
  padding: 0;
  margin: 0;
  width: 46px;
  height: 46px;
}

.dark_mode{
  display: none;
}

.switch .light_mode{
  display: none;
}

.switch .dark_mode{
  display: block;
  padding: 0;
  margin: 0;
  width: 46px;
  height: 26px;
}

.light_mode:hover, .dark_mode:hover{
  cursor: pointer;
}

/****************** Main ********************/

main{
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  margin-top: 10px;
  margin-bottom: 10px;
}

.application{
    margin: var(--padding-left-right);
    width: 95%;
    max-width: 600px;
    justify-self: left;

    h2{
      margin-top: 10px;
    }
}

fieldset{
  background-color: var(--light-header-footer-clr);
  margin: 20px 0;
  border-radius: 5px;
}

legend{
    padding: 0 var(--padding-left-right);
    margin-bottom: var(--padding-left-right);
    background-color: #fff;
    border: #191933 solid 1px;
}

.application label{
    display: block;
    margin-bottom: var(--padding-left-right);
    white-space: nowrap;
}

.application label input{
    display: block;
    margin-top: 5px;
}

form input{
  height: 40px;
  padding: 2px 0 2px 5px;
  border-radius: 5px;
  font-size: 1.2rem;
}

form input:required:valid{
  border-left: solid green 3.5px;
}

form input:required:invalid{
  border-left: solid red 3.5px;
}

form select{
  padding: 13px 0;
}

.submit_btn{
  margin: auto;
  border: none;
  padding: 14px 60px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  height: 50px;
  align-content: center;
  color: #fff;
  background: linear-gradient(rgb(170, 167, 169), #191933);
  /* box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.3); */
  border-radius: 35px;
}


.levels{
    margin: var(--padding-left-right);
    
    h2{
      margin: var(--padding-left-right) auto;
      width: 80%;
      max-width: 600px;
    }
}

.levels section{
  display: grid;
  grid-template: auto 1fr / 1fr;
  background-color: #eee;
  justify-items: center;
  text-align: center;
  width: 80%;
  max-width: 600px;
  height: 150px;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 3px 1px 6px 2px #616164;

  h2{
    font-size: 1.2rem;
    padding-top: 10px;
    margin-top: 0;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: #191933 dashed 1.5px;
  }

  button{
    display: block;
    align-self: end;
    margin: auto;
    border: none;
    padding: 14px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
}

.levels section:nth-child(odd){
  border-radius: 0 20px 0 20px;
}

.levels section:nth-child(even){
  border-radius: 20px 0 20px 0;
}

.levels section:nth-child(5){
  h2{
    background-color: gold;
  }

  button{
    background-color: gold;
  }
}
.levels section:nth-child(3){
  h2{
    background-color: rgb(233, 113, 0);
  }

  button{
    background-color: rgb(233, 113, 0);
  }
}
.levels section:nth-child(4){
  h2{
    background-color: silver;
  }

  button{
    background-color: silver;
  }
}
.levels section:nth-child(2){
  h2{
    background-color: var(--light-header-footer-clr);
  }

  button{
    background-color: var(--light-header-footer-clr);
  }
}

/***************** Dialog ******************/

.dialog::backdrop{
  background-color: rgba(255, 255, 255, 0.2);
}

.levels dialog{
  padding: 0;
  width: fit-content;
  height: fit-content;
  background-color: rgb(255, 255, 255, 0.7);
  border: #191933 solid 1.5px;
  border-radius: 10px;


  .wrapper{
    display: grid;
    grid-template: auto 1fr / 1fr;
    position: relative;
    padding: 16px;
    background-color: rgb(255, 255, 255, 0.7);

    h2{
      text-align: center;
      margin: 0 auto;
    }

    .close_button{
      position: absolute;
      top: 10px;
      right: 5px;
      border: none;
      background-color: rgb(255, 255, 255, 0);
      cursor: pointer;

      img{
        width: 23px;
        height: 23px;
      }
    }
  }
}

/****************** Footer *****************/

footer{
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  background-color: var(--light-header-footer-clr);
}

.left_grid, .right_grid{
  justify-items: left;
  align-items: center;
}

.left_grid p, .left_grid a, .right_grid p, .right_grid a{
  line-height: .5rem;
}

.social_grid{
  display: flex;
  column-gap: 10px;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  margin-top: var(--padding-left-right);
}

.social_grid img{
  width: 42px;
  height: 42px;
  border-radius: 10px;
}

.left_grid{
  padding-left: var(--padding-left-right);
}